<div class="grid grid-cols-1 md:grid-cols-2 min-h-[35rem] h-full rounded-[0.75rem] overflow-hidden bg-white">
    <aside class="relative">
        <img src="/assets/svg/onboarding-avla.svg" alt="Onboarding Avla"
            class="absolute inset-0 h-full w-full object-cover" />
    </aside>

    <main class="flex flex-col overflow-y-auto">
        <div class="w-full max-w-[42.5rem] mx-auto px-[1.5rem] md:px-[2rem] py-[1.5rem] md:py-[2rem]">
            <ng-content></ng-content>
        </div>
    </main>
</div>