<div
  class="flex flex-col items-center justify-center mt-[0px] h-screen max-md:flex-col max-md:items-center max-md:gap-8"
>
  <div
    class="flex grow flex-row flex-wrap-reverse justify-between items-center h-screen w-full"
  >
    <section class="flex flex-col gap-4 items-center w-1/2 relative h-full">
      <div
        class="absolute top-1/2 left-1/2 translate-y-[-50%] translate-x-[-50%] text-white flex flex-col gap-2"
      >
      </div>
      <img
        [src]="'svg/avla-poster-bg.svg' | assetUrl" 
        alt="avla poster"
        class="h-full object-cover w-full"
      />
    </section>

    <section id="login" class="flex flex-col w-1/2 items-center">
      <div class="w-[400px] flex flex-col gap-7 p-3">
        @if(successfulResponse == undefined && recoverPasswordForm){

        <div class="flex flex-row justify-end">
         <avla-button
            [label]="'Default'"
            [icon]="{type: 'avlaIcon', icon: '/icons/dropdown-2', position: 'left'}"
            [theme]="'textAndIcon'"
            [disabled]="false"
            (click)="navigateHome()"
          ></avla-button>
        </div>

        <h3 class="font-normal text-2xl color-dark leading-lh-28">
          {{ 'RECOVER-PASSWORD.DEFAULT.TITLE' | translate }}
        </h3>
        <h4 class="font-normal text-[13px] color-dark leading-lh-16">
          {{ 'RECOVER-PASSWORD.DEFAULT.MESSAGE' | translate }}
        </h4>
        <form [formGroup]="recoverPasswordForm">
            <!-- FALTA VINCULAR EL FORM y el required true-->
           <app-email-input
            [requiredValidation]="true"
            [placeholder]="'RECOVER-PASSWORD.DEFAULT.INPUTS.EMAIL' | translate"
            [value]="emailToRecover"
          ></app-email-input>
          @if (!hiddenV2) {
          <div class="mx-auto">
            <re-captcha
              id="token"
              name="token"
              #recaptcha="ngModel"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="token"
              required
              [class.is-invalid]="
                recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
              "
            ></re-captcha>
          </div>
          }

          <avla-button
            theme="primary"
            [label]="'RECOVER-PASSWORD.DEFAULT.SEND' | translate"
            (click)="recoverPassword()"
            [disabled]="recoverPasswordForm.invalid"
          >
          </avla-button>

        </form>
        } @else if (successfulResponse) {

        <div class="flex flex-row gap-6 justify-items-start">
          <img alt="" class="w-8 fill-success" src="assets/svg/task_alt.svg" />
          <p class="text-dark text-2xl font-normal leading-lh-28">
            {{ 'RECOVER-PASSWORD.SUCCESS.TITLE' | translate }}
          </p>
        </div>

        <p class="text-dark font-normal text-[13px] leading-4">
          {{ 'RECOVER-PASSWORD.SUCCESS.MESSAGE' | translate }}
        </p>

        } @else {
        <div class="flex flex-row gap-6 justify-items-start">
          <img alt="" class="w-8" src="assets/svg/cancel.svg" />
          <p class="text-dark text-2xl font-normal leading-lh-28">
            {{ 'RECOVER-PASSWORD.FAILED.TITLE' | translate }}
          </p>
        </div>

        <p class="text-dark font-normal text-[13px] leading-4 text-center">
          {{ 'RECOVER-PASSWORD.FAILED.MESSAGE' | translate }}
        </p>
        <!-- <avla-button
          class="avla-btn-purp avla-btn-flat-label-md btn-success"
          theme="primary"
          (click)="reInit()"
          [label]="'GENERAL.BUTTON.RETRY' | translate"
        
        > -->
        <!-- </avla-button>
        <avla-button
          class="btn-back"
          theme="secondary"
          (click)="navigateHome()"
          [label]="'GENERAL.BUTTON.BACK_TO_LOGIN' | translate"
       
          [icon]="{
            type: 'class',
            icon: 'Arrow_Back_iOS',
            class: 'material-symbols-rounded',
            position: 'left'
          }"
        > -->
        <!-- </avla-button> -->

        }
      </div>
    </section>
  </div>
</div>