<section class="flex flex-col gap-[20px]">
    <div class="flex justify-between px-4 py-4">
        <div class="w-[8vw]">
            <img class="w-full" src="/assets/logo-avla.svg" alt="">
        </div>

        <div>
            <h3 class="text-[14px] font-bold pt-1">Coberturas</h3>
            <ul>
                <li>
                    <a [href]="externalUrl.seguroEmpresarial" class="text-[12px]">
                        Seguro Empresarial
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.seguroGarantia" class="text-[12px]">
                        Seguro Garantia
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.seguroGarantiaJudicial" class="text-[12px]">
                        Seguro Garantia Judicial
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.seguroRicosDeEngenharia" class="text-[12px]">
                        Seguro Ricos de Engenharia
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.seguroPatrimonial" class="text-[12px]">
                        Seguro Patrimonial
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.seguroDeCredito" class="text-[12px]">
                        Seguro de Crédito
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="text-[14px] font-bold pt-1">Quem somos</h3>
            <ul>
                <li>
                    <a [href]="externalUrl.whoWeAre" class="text-[12px]">
                       Sobre nós
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.sustentabilidade" class="text-[12px]">
                      Sustentabilidade
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.carreiras" class="text-[12px]">
                       Carreiras
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="text-[14px] font-bold pt-1">Central de Ajuda</h3>
            <ul>
                <li>
                    <a [href]="externalUrl.canalDeDenuncias" class="text-[12px]">
                        Canal de Denúncias
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.avisoDeSinistro" class="text-[12px]">
                        Aviso de sinistro
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.ouvidoria" class="text-[12px]">
                        Ouvidoria
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.contato" class="text-[12px]">
                       Contato
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="text-[14px] pt-1 font-bold">Legal</h3>
            <ul>
                <li>
                    <a [href]="externalUrl.politicas" class="text-[12px]">
                        Políticas
                    </a>
                </li>
                <li>
                    <a [href]="externalUrl.proteccionDados" class="text-[12px]">
                       Políticas de privacidade e proteção de dados
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex flex-col gap-[10px]">
        <div>
            <span class="text-[12px]">AVLA SEGUROS BRASIL S.A. CNPJ: 41.182.665/0001-40 SUSEP: 02071</span>
        </div>

        <div class="flex items-center gap-1">
            <span class="font-bold text-[13px]">
                Avenida Doutor Cardoso de Melo, 1855, Ed. Brasílio Machado - 14º Andar - São Paulo
            </span>
            <a [href]="externalUrl.linkedIn">
                <img src="/assets/svg/linkIn.svg"/>
            </a>
            <a [href]="externalUrl.instagram">
                <img src="/assets/svg/instagram.svg"/>
            </a>
        </div>
    </div>
</section>