<div class="flex flex-col items-center justify-center mt-[0px] h-screen max-md:flex-col max-md:items-center max-md:gap-8">
  <div class="flex grow flex-row flex-wrap-reverse justify-between items-center h-screen w-full">
    <section class="flex flex-col gap-4 items-center w-1/2 relative h-full">
      <img
        [src]="'svg/avla-poster-bg.svg' | assetUrl"
        alt="avla poster"
        class="w-full h-full object-cover object-center"
      />
    </section>
    <div class="flex flex-col w-1/2 items-center">
      <div class="flex flex-col gap-7 p-3">
        @if (isValid === undefined) {
          <app-change-password [token]="token" (isValid)="isValid = $event"></app-change-password>
        }
        @else if (isValid) {
          <div class="flex flex-col max-w-[60%] gap-11 mx-auto">
            
            <div class="flex flex-col gap-2">
              <div class="flex gap-4 items-start">
                <img src="/assets/icons/check-green.svg" alt="success icon">
                <p class="text-2xl font-normal leading-lh-28">
                  {{ 'CHANGE-PASSWORD.SUCCESS.TITLE' | translate }}
                </p>
              </div>
              <p class="text-smPlus font-normal text-dark-gray">
                {{ 'CHANGE-PASSWORD.SUCCESS.MESSAGE' | translate }}
              </p>
            </div>
            <div class="w-full">
              <!-- REMOVI IS FLUID TRUE -->
              <avla-button 
                class="avla-btn-init" theme="primary" [label]="'GENERAL.BUTTON.CONTINUE' | translate" (click)="next()"
                [icon]="{
                  type: 'class',
                  icon: 'arrow_forward',
                  class: 'material-symbols-rounded text-[20px]',
                  position: 'right'
                }"
              />
            </div>
          </div>
        }
        @else {
          <div class="flex flex-col gap-8 mx-auto max-w-[60%]">
            <div class="flex flex-col gap-4">
              <div class="flex items-center gap-6">
                <img src="/assets/svg/cancel.svg" alt="icon error">
                <p class="text-2xl font-medium">
                  {{ 'CHANGE-PASSWORD.FAILED.TITLE' | translate }}
                </p>
              </div>
              <p class="text-smPlus font-medium text-dark-gray text-center">
                {{ 'CHANGE-PASSWORD.FAILED.MESSAGES.0' | translate }} 
                <br> 
                {{ 'CHANGE-PASSWORD.FAILED.MESSAGES.1' | translate }}
              </p>
            </div>
            <div class="flex flex-col gap-7">
              <div class="w-full">
                <!-- REMOVI IS FLUID TRUE -->
                <avla-button class="avla-btn-purp avla-btn-flat-label-md btn-success" theme="primary" (click)="retrying()"
                  [label]="'GENERAL.BUTTON.RETRY' | translate">
                </avla-button>
              </div>
              <div class="w-full">
                <!-- REMOVI IS FLUID TRUE -->
                <avla-button class="avla-btn-flat-label-md btn-back" theme="secondary" (click)="next()" 
                  [label]="'GENERAL.BUTTON.BACK_TO_LOGIN' | translate"
                  >
                </avla-button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>