<form [formGroup]="passwordForm">
    <div class="flex flex-col items-center">
        <div class="flex flex-col w-[400px]">
            <div class="flex flex-row mb-12 justify-end">
                <!-- <avla-button
                    [icon]="{type: 'avlaIcon', icon: 'svg/vector-35.svg', position: 'left'}"
                    [theme]="'textAndIcon'"
                    (click)="goToLogin()"
                    [label]="'GENERAL.BUTTON.BACK_TO_LOGIN' | translate"
                ></avla-button> -->
                <avla-button
                    [label]="'Default'"
                    [icon]="{type: 'svg', icon: '/assets/vector-35.svg', position: 'left'}"
                    [theme]="'textAndIcon'"
                    [disabled]="false"
                ></avla-button>
                
                <!-- <img [src]="'svg/vector-35.svg' | assetUrl" alt=""> -->
            </div>
            @if (token === '') {
                <div class="flex flex-row mb-4 max-sm:w-full">
                    <div class="col-span-1 w-full mr-3 max-sm:mr-0">
                        <app-password-input
                            class="avla-input-focus" 
                            id="oldPassword" 
                            type="password" 
                            [label]="changePasswordTexts.actualPassword" 
                        >

                        </app-password-input>
                        <!-- <avla-input 
                            class="avla-input-focus" 
                            [form]="passwordForm" 
                            id="oldPassword" 
                            [icons]="{
                                type: 'class',
                                icon: 'visibility_off',
                                change: 'visibility',
                                class: 'material-symbols-rounded',
                                error: ''
                            }" 
                            type="password" 
                            [label]="changePasswordTexts.actualPassword" 
                            [required]="true"
                    /> -->
                    </div>
                </div>
            }
            <div class="flex flex-col gap-6 items-center">
                <div class="w-full flex flex-col items-start gap-5">
                    <h3 class="font-normal text-2xl color-dark leading-lh-28">
                        {{ 'CHANGE-PASSWORD.DEFAULT.TITLE' | translate }}
                    </h3>
                </div>
                <div class="w-full">
                    <app-password-input
                        class="avla-input-focus" [onInput]="checkValid.bind(this)"
                        id="newPassword" 
                        type="password" [label]="'CHANGE-PASSWORD.DEFAULT.INPUTS.NEW_PASSWORD' | translate" 
                    >

                    </app-password-input
                    
                    >
                    <!-- <avla-input class="avla-input-focus" [form]="passwordForm" [onInput]="checkValid.bind(this)"
                        id="newPassword" 
                        [icons]="{
                            type: 'class',
                            icon: 'visibility_off',
                            change: 'visibility',
                            class: 'material-symbols-rounded',
                            error: ''
                        }" 
                        [error]="passwordNotAreEquals"
                        type="password" [label]="'CHANGE-PASSWORD.DEFAULT.INPUTS.NEW_PASSWORD' | translate" [required]="true"
                    /> -->
                    @if (passwordNotAreEquals) {
                        <ng-container *ngTemplateOutlet="passwordNotEquals"></ng-container>
                    }
                </div>
                <div class="w-full">
                    <app-password-input
                        class="avla-input-focus" [onInput]="checkValid.bind(this)"
                        id="repeatNewPassword" 
  
                        type="password" [label]="'CHANGE-PASSWORD.DEFAULT.INPUTS.REPEAT_PASSWORD' | translate" 
                        
                    >

                    </app-password-input>
                    <!-- <avla-input class="avla-input-focus" [form]="passwordForm" [onInput]="checkValid.bind(this)"
                        id="repeatNewPassword" 
                        [icons]="{
                            type: 'class',
                            icon: 'visibility_off',
                            change: 'visibility',
                            class: 'material-symbols-rounded',
                            error: ''
                        }" 
                        type="password" [label]="'CHANGE-PASSWORD.DEFAULT.INPUTS.REPEAT_PASSWORD' | translate" 
                        [error]="passwordNotAreEquals"
                        [required]="true"
                    /> -->
                    @if (passwordNotAreEquals) {
                        <ng-container *ngTemplateOutlet="passwordNotEquals"></ng-container>
                    }
                </div>
                <ng-template #passwordNotEquals>
                    <span class="text-error text-xs">
                        {{ 'CHANGE-PASSWORD.DEFAULT.VALIDATION.NOT-EQUALS' | translate }}
                    </span>
                </ng-template>
                
            </div>
            @if (this.validPassword !== undefined) {
                <ul
                    class="mt-6 mx-auto min-w-[50%] font-normal initial-list">
                    <li class="text-smPlus" [ngClass]="
                          this.validLength === undefined
                            ? 'text-black'
                            : this.validLength
                            ? 'text-success'
                            : 'text-error'
                        ">
                        {{ 'CHANGE-PASSWORD.VALIDATIONS.MIN-LENGTH' | translate }}
                    </li>
                   
                    <li class="text-smPlus" [ngClass]="
                          this.validUppercase === undefined
                            ? 'text-black'
                            : this.validUppercase
                            ? 'text-success'
                            : 'text-error'
                        ">
                        {{ 'CHANGE-PASSWORD.VALIDATIONS.AT-LEAST-CAPITAL-LETTER' | translate }}
                    </li>

                    <li class="text-smPlus" [ngClass]="
                        this.validNumber === undefined
                        ? 'text-black'
                        : this.validNumber
                        ? 'text-success'
                        : 'text-error'
                    ">
                        {{ 'CHANGE-PASSWORD.VALIDATIONS.AT-LEAST-NUMBER' | translate }}
                    </li>

                    <li class="text-smPlus" [ngClass]="
                          this.validSpecial === undefined
                            ? 'text-black'
                            : this.validSpecial
                            ? 'text-success'
                            : 'text-error'
                        ">
                        {{ 'CHANGE-PASSWORD.VALIDATIONS.AT-LEAST-SPECIAL-CHARACTER' | translate }}
                    </li>
                </ul>
                }
            <div class="flex flex-row w-full justify-center mt-7">
                <avla-button 
                    class="avla-btn-primary inline-grid w-full" 
                    [disabled]="passwordForm.invalid || !meetsTheFormat" 
                    theme="primary" 
                    [label]="'GENERAL.BUTTON.SAVE' | translate"
                    (click)="save()"
                />
            </div>
        </div>
        
    </div>
</form>