@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin ipad {
    @media (max-width: 992px) {
        @content;
    }
}

// Extra small screen / phone
// xs: 0px -575px
// Small screen / phone
// sm: 576px - 767px
// Medium screen / tablet
// md: 768px - 991px
// Large screen / desktop
// lg: 992px - 1199px
// Extra large screen / wide desktop
// xl: 1200px